rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /allocations/{allocationId} {
      // Qualquer usuário autenticado pode ler os dados.
      allow read: if request.auth != null;
      // Qualquer usuário autenticado pode criar, atualizar e deletar dados.
      allow write: if request.auth != null;
    }
  }
}
